html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
   url("../fonts/OpenSansRegular.woff2") format("woff2"),
   url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Light'),
   url("../fonts/OpenSansLight.woff2") format("woff2"),
   url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
   url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
   url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

:root {
  --gap: 30px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
  color: #1c1c1c
}

.section-deser {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}


.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: #1c1c1c;
  font-style: 15px;
  transition: color 0.3s ease-in-out;
}


.btn {
  position: relative;
  outline: none;
  font-weight: 600;
  font-style: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #317289;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 2px solid rgb(255, 153, 0);
}

.nav__link:hover {
  color:  #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #317289;
  border-bottom: 2;
}

.nav__link:active::after {
  opacity: 1;
}


/*Hero*/

.hero {
  padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url(../img/hero-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;

}

.hero__deser {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;

}

.hero__wrappen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url(../img/secure.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
  padding-left: 20px;
}

/*Services*/
.services {
  border-bottom: 1px solid #DADADA;;
}

.services__title {
  text-align: center;
}

.services__deser {
  text-align: center;
}

.list-reset {
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}

.services__item {
  padding: 60px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  max-width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  transition: background-color 0.3s ease-in-out, border-color 0.3s;
}

.services__item:hover {
  border-color: #317289;
  background-color: #317289;
}

.services__item_icon {
  fill: #317289;
  margin-bottom: 25px;
  transition: fill 0.3 ease-in-out;
}

.services__item:hover .services__item_icon {
  fill: #fff;
}

.services__item_title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item_title {
  color: #fff;
}

.services__item_desc {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item_desc {
  color: #fff;
}

/*Articles*/
.articles {
  border-bottom: 1px solid #DADADA;
}

.articles__list {
  flex-wrap: wrap;
  --offsett: 1;
  gap: var(--gap);
}

.articles__item {
  margin-bottom: 30px;
  width: calc((100% - (var(--gap) * var(--offsett))) / (var(--offsett) + 1));
}

.blog__preview {
  overflow: hidden;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  height: 100%;
}

.blog__preview_image {
  object-fit: cover;
}

.blog__preview_text {
  padding: 30px;
}

.blog__preview_time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color:#787878;
  transition: color 0.3s ease-in-out;
}

.blog__preview_title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.blog__preview_deser {
  margin: 0;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  max-width: 210px;
  transition: color 0.3s ease-in-out;
}

.blog__preview_link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog__preview_link:focus {
  background-color: #3172b9;
}

.blog__preview_link:hover {
  background-color: #0e3b6c;
}

.blog__preview_link:hover .blog__preview_title {
  color: #fff;
}

.blog__preview_link:hover .blog__preview_deser {
  color: #fff;
}

.blog__preview_link:hover .blog__preview_time {
  color: #fff;
}

.blog__preview_link:active {
  background-color: #317289;
}

.blog__preview_link:active .blog__preview_title {
  color: #fff;
}

.blog__preview_link:active .blog__preview_deser {
  color: #fff;
}

.blog__preview_link:active .blog__preview_time {
  color: #fff;
}



/*Clients */
.clients {
  border-bottom: 1px solid #DADADA;;
}

.clients__list {
  --offses: 2;
  gap: var(--gap);
  flex-wrap: wrap;
}



.clients__item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offses))) / (var(--offses) + 1));
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #E4E4E4;
}

.clients__item_descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients__user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #DADADA;
  width: 100%;
  padding-top: 28px;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients__name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.clients__post {
  font-weight: 400;
  line-height: 180%;
  font-size: 14px;
  color: #787878;
}


/*Contacts*/
.contacts {
  border-bottom: 1px solid #DADADA;
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  --offset: 2;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contacts-item {
  padding-top: 48px;
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offset))) / (var(--offset) + 1));
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts-item-address {
  background-image: url(../img/location_on.svg);
}

.contacts-item-call {
  background-image: url(../img/phone.svg);
}

.contacts-item-mail {
  background-image: url(../img/mail.svg);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 180%;
  font-size: 17px;
  color: #1C1C1C;
}

.contacts-item-text {
  margin: 0;
  max-width: 215px;
  font-weight: 400;
  line-height: 180%;
  font-size: 14px;
  color: #787878;
}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:hover {
  outline: 1px solid #71a7e2;
}

.contacts-item-link:active {
  outline: none;
  color: #0e3b6c;
}

/*join-us*/
.join-us {
  border-bottom: 1px solid #DADADA;
}


.join-us-title {
  text-align: center;
}

.join-us-deser {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  border: 1px solid #DADADA;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71a7e2;
}

.form-input:active {
  border-color: #0e3b6c;
}

.form-select {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71a7e2;
}

.form-select:active {
  border-color: #0e3b6c;
}


.form-textarea {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 20px;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71a7e2;
}

.form-textarea:active {
  background-color: #0e3b6c;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  gap: 14px;
}

.form-right {
  width: 49%;
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/*footer*/
.footer {
  padding: 42px 0;
}

.footer__copy {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
}

.footer__nav .nav__link {
  font-size: 15px;
  font-weight: 600;
  color: #787878;
  transition: color 0.3s ease-in-out;
}


.footer__nav .nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.footer__nav .nav__link:hover {
  color:  #71a7e2;
}

.footer__nav .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer__nav .nav__link:active {
  color: #317289;
}

.footer__nav .nav__link:active::after {
  opacity: 1;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;

}

.social-item:not(:last-child) {
  margin-right: 32px;
}


.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a771;
}

.social-link:hover svg {
  fill: #71a7e2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link:active svg {
  fill: #317289;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #317289;
}

.burger {
  display: none;
}
